* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.menu {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.6;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    padding: 10px;
}

.fb {
    background: url(images/fb.png) center no-repeat;
    background-size: 80%;
    text-indent: -100000px;
    display: inline-block;
    width: 50px;
}

.fb:hover {
    opacity: 1;
}

.insta {
    background: url(images/insta.png) center no-repeat;
    background-size: 80%;
    text-indent: -100000px;
    display: inline-block;
    width: 50px;
}

.background {
    position: fixed;
    width: 100%;
    filter: blur(2px);
}

.images {
    display: flex;
    width: 100%;
    justify-content: center;
}

.bigpicture {
    z-index: 1;
    width: 70%;
    height: 500px;
    margin-top: 150px;
}

button {
    z-index: 1;
    width: 5%;
    margin-top: 150px;
    opacity: 0.1;
}

button:hover {
    opacity: 0.5;
    transition: 2s;
}
