div{
    float: left;
}

.item_green{
    background-color: #51D400;
    width: 190px;
    height: 190px;
}

.item_yellow{
    background-color: #FFD62A;
    width: 190px;
    height: 190px;
}

.item_purple{
    background-color: #B02AFF;
    width: 190px;
    height: 190px;
}
