header {
    //margin: 0 auto;
    height: 50px;
    width: 200px;
    background: 'yellow';
}

/*footer {
    margin: 0 auto;
    height: 50px;
    width: 200px;
    background: 'blue'
}

.contain {
    display: flex;
    justify-content: center;
    height: 500px;
}

.one {
    background: 'orange';
}

.two {
    background: 'red';
}

.three {
    background: 'purple';
}
