* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
}

.musicplayer {
    width: 50%;
    height: 50%;
    background: url(img/samsung.png) center no-repeat;
    background-size: 100%;
}
