.container{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #FFD62A;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
}

.item{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    background: #B02AFF;
    list-style: none;

}
