body{
   width: 100%;
   display: flex;
   justify-content: center;
}

header {
   width: 750px;
   height: 50px;
   display: flex;
   background-color: #b02aff ;
   align-items: center;
   padding: 0;
}

.item {
   list-style: none;
   width: 70px;
   height: 30px;
   margin-left: 10px;
   background: #2aeaff ;
}

.one {
   width: 100px;
   height: 30px;
}

main {
   width: 750px;
   height: 550px;
   display: flex;
   background-color: #ffd62a ;
   position: absolute;
   top: 55px;
   padding: 0;
   justify-content: flex-end;
}
.sidebar {
   width: 250px;
   height: 550px;
   background: #51d400 ;
