* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicplayer {
    position: absolute;
    width: 40%;
    height: 60%;
    background: linear-gradient(to bottom, #F5F5F5 0%,#cccccc 100%);
    border: 3px solid #eeeeee;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 2%;
}

.UI {
    display: flex;
}

.left {
    width: 50%;
    height: 50%;
}

.right {
    width: 50%;
}

.images {
    height: 40%;
    width: 100%;
    display: flex;
}

.logo {
    width: 100%;
}


.placeholder {
    width: 100%;
}

.addplaylist {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20%;
}

.addplaylist > div {
    font-size: 1.5em;
    font-weight: bold;
}

.playlist {
    overflow-y:scroll;
    height: 220px;
}

.playlist > div {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
}

.playlist div:nth-child(even) {
    background-color: #bdbdbd;
}

.currentlyPlayed {
    display: flex;
    height: 30%;
}

.currentlyPlayed > div {
    margin: 20px;
}

.tracklist div:nth-child(even) {
    background-color: #bdbdbd;
}

.tracklist {
    overflow-y: scroll;
}

.track {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.control {
    justify-content: center;
}

.controlbutton {
    text-indent: -10000px;
    background-size: 80%;
    width: 30px;
    height: 30px;
}

.control > div {
    display: flex;
    justify-content: center;
}

.forward {
    background: url(forward.svg) center no-repeat;

}

.rewind {
    background: url(rewind.svg) center no-repeat;
}

.shuffle {
    background: url(shuffle.svg) center no-repeat;
}

audio {
    width: 100%;
}

audio::-webkit-media-controls-panel {
    background-color: #cccccc ;
}

button {
    background-color: white;
    color: grey;
    border: 0px solid #cccccc;
    width: 20px;
    border-radius: 100%;
}
